.fredericka-the-great-regular {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}

body{
  font-family:Helvetica, Arial, sans-serif;
}
h1{
  text-align:center;
  font-family:"Fredericka the Great", Arial, sans-serif;
}
#winner-display, #room-display{
  text-align:center;
}
#board {
  display: grid;
  grid-template-areas: '0 1 2' '3 4 5' '6 7 8';
  gap: 5px;
  margin:auto;
  width:min-content;
  padding:20px;
  padding-top:28px;
  border-radius:15px;
  font-family:"Fredericka the Great", Arial, sans-serif;
}

#chalkboard{
  background-image: url("chalkboard.jpg");
  background-size:cover;
  width:557px;
  height:372px;
  display:inline-block;
}
.cell {
  width: 98px;
  height: 98px;
  border: 2px solid #FFF;
  filter: url(#chalk-filter);
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  cursor: pointer;
  color:white;
  text-align:center;
}
#buttonBoard{
  text-align:center;
}
#roomInputBox{
  display:inline-grid;
  grid-template-rows:auto auto;
  height:29px;
  transform:translateY(-4.5px);
  border-radius:10px;
  padding:10px;
}
#roomInput{
  display:inline-block;
  border-radius:0px;
  border:none;
}
.Buttons{
  border:none;
  border-radius:10px;
  padding:17px;
  background-color:rgb(69, 153, 69);
  border:3px #cab34d solid;
  font-weight:bold;
}
.Buttons:hover:not(#roomInputBox){
  background-color:rgb(7, 89, 7)
}
#infoboard{
  color:white;
  background-image: url("chalkboard.jpg");
  height:342px;
  display:inline-block;
  background-size:100% 100%;
  width:300px;
  padding-top:30px;
  font-family:"Fredericka the Great", Arial, sans-serif;
}
.infos{
  text-align:center;
}
#mainboard{
  display:flex;
  margin:auto;
  gap:20px;
  justify-content:center;
}